@model List<PizzaServiceLoading.Models.Customer>

@{
    var pizzaToppings = ViewBag.PizzaToppings as Dictionary<int, List<PizzaServiceLoading.Models.Toppings>>;
    Dictionary<string, int> toppingCounts = new Dictionary<string, int>();
    Dictionary<string, double> toppingPercentage = new Dictionary<string, double>();
    int totalOrders = Model.Count;

    foreach (var customer in Model)
    {
        foreach (var topping in pizzaToppings[customer.PizzaId])
        {
            if (toppingCounts.ContainsKey(topping.ToppingName))
            {
                toppingCounts[topping.ToppingName]++;
            }
            else
            {
                toppingCounts[topping.ToppingName] = 1;
            }
        }
    }
    foreach (var topping in toppingCounts)
    {
        toppingPercentage[topping.Key] = (double)topping.Value / totalOrders * 100;
    }
}

<h2>Pizza Order Counts</h2>

<table class="table">
    <thead>
        <tr>
            <th>Toppings</th>
            <th>Percentage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topping in toppingPercentage.OrderByDescending(v=>v.Value))
        {
            <tr>
                <td>@topping.Key</td>
                <td>@topping.Value</td>
            </tr>
        }
    </tbody>
</table>
